<table id="model_container" class="table table-striped" data-bind="template: {name:'productTemplate', foreach: list}">
</table>
<script type="text/x-jquery-tmpl" id="productTemplate">
    <tr data-bind="click: $root.edit">
        <!-- ko with: item -->
            <td data-bind="text: id"></td>
            <td data-bind="text: name"></td>
            <td data-bind="template: {name: 'tagTemplate', foreach: Tags}"></td>
            <!-- ko if: $data.hasOwnProperty("comp") -->
                <td data-bind="text: comp"></td>
                <!-- ko with : Producer -->
                    <td data-bind="text: name"></td>
                <!-- /ko -->
            <!-- /ko -->
        <!-- /ko -->
    </tr>
</script>
<script type="text/x-jquery-tmpl" id="tagTemplate">
    <span data-bind="text:name"></span>
    <!-- ko if: $data.hasOwnProperty("shortName") -->
    <span data-bind="text: shortName"></span>
    <!-- /ko -->
</script>

<!-- edit form -->
<form data-form-model-type="Product" data-form-type="edit" style="display: none;" data-bind="with: active">
    Edit!
    <div data-bind="with: item">
    <input id="product_name" data-bind="value: name">
    <input id="product_tags" data-bind="tags: Tags">
    <input id="product_producer" data-bind="autocomplete: Producer, autocompleteOpts : {modelType : 'Producer'}">
    </div>
    <button id="product_save" type="submit" data-bind="click: save">save</button>
    <button id="product_cancel" type="submit" data-bind="click: cancel">cancel</button>
</form>
