<!-- edit form -->
<form class="form-horizontal">
    <fieldset>
        <legend>Edit producer</legend>
        <!-- ko with: item -->
        <div class="control-group">
            <label class="control-label" for="product_name">Name</label>
            <div class="controls">
                <input id="product_name" data-bind="value: name">
            </div>
        </div>
        <!-- /ko -->
        <div class="form-actions">
            <button id="product_save" type="submit" class="btn btn-primary" data-bind="click: save">Save changes</button>
            <button class="btn" data-bind="click: cancel">Cancel</button>
        </div>
    </fieldset>
</form>
<!-- ko with: item.ProductsVM -->
<table id="model_container" class="table table-striped" data-bind="template: {name:'productTemplate', foreach: list}">
</table>
<div data-partial-view="Shared/_ProductForm" data-bind="with: active"
     data-partial-view-bag="{caption: 'Edit product', type : 'edit', context : 'reference'}">
</div>
<!-- /ko -->
<div data-partial-view="Product/_ProductTemplate" data-partial-view-bag="{context: 'reference'}">
</div>

